# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Git
.git/
.gitignore

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Tests
tests/

# logs
*.log